<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
	<!-- JDBC Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
	
	<!-- JDBC Connection Pool Setting -->
		<property name="hibernate.connection.pool_size">1</property>
		
	<!-- Select SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
	<!--  Echo the SQL to STDOUT -->
		<property name="hibernate.show_sql">true</property>
		
	<!--  Set Current Session Context -->
		<property name="hibernate.current_session_context_class">thread</property>
		
	</session-factory>
</hibernate-configuration>